Host agamemnon a7m
	HostName agamemnon.ivh
	Port 22
	User monomah
	ForwardAgent yes

Host hades
	HostName hades.ivh
	Port 22
	User ilya.vassyutovich
	ForwardAgent yes

Host thanatos t6s
	HostName thanatos.ivh
	Port 22
	User ilya.vassyutovich
	ForwardAgent yes

Host docker
	HostName docker.ivh
	Port 22
	User root
	ForwardAgent yes

Host vpn
	HostName vpn.ivh
	Port 22
	User root
	ForwardAgent yes

Host tor
	HostName tor.ivh
	Port 22
	User root
	ForwardAgent yes