[user]
    name = Ilya Vassyutovich
    email = ivasyutovich@qsoft.ru
    signingkey = 9BD96E4F

[merge]
    tool = meld

[alias]
    st = status
    ci = commit
    co = checkout
    di = diff --color
    unstage = reset HEAD
    me = merge --no-ff
	lg = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --date=relative

[core]
    excludesfile = ~/.gitignore_global
